
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.scheduler-container {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

#schedule-table td {
    cursor: pointer; /* Change cursor to pointer to indicate interactivity */
    transition: background-color 0s; /* Smooth transition for hover effect */
}


#schedule-table td:not(.highlighted):hover {
    background-color: lightblue; /* Hover effect only for non-highlighted cells */
    transition: background-color 0.3s;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #007BFF;
    color: white;
}

.hour-label {
    background-color: #f9f9f9;
}

.hour-label:nth-child(odd) {
    background-color: #f4f4f4;
}

.highlighted {
    background-color: #ffeb3b;
}

.selected {
    background-color: #ffeb3b;
}

.manual-input-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

.manual-input-popup h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #007BFF;
    margin-bottom: 15px;
}

.manual-input-popup label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.manual-input-popup input, .manual-input-popup select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.manual-input-popup button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.manual-input-popup button:hover {
    background-color: #0056b3;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.time-frame-selector {
    margin-bottom: 20px;
    text-align: left;
}

.time-frame-selector label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.1rem;
    color: #333;
}

.time-frame-selector input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.buttons-container-top {
    float: right;
    margin-top: -60px;
    margin-bottom: 20px;
}

.deleteAll-button {
    padding: 12px 30px;
    background-color: #007BFF; /* (199, 57, 57); */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.manual-button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.manual-button:hover {
    background-color: #0056b3;
}

select#time-format {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}


.edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.edit-popup h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #007BFF;
    margin-bottom: 15px;
}
.edit-popup label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.edit-popup input, .edit-popup select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.edit-popup button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.edit-popup button:hover {
    background-color: #0056b3;
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .scheduler-container {
        padding: 10px;
    }

    .table-container {
        overflow-x: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    th, td {
        font-size: 0.9rem;
        padding: 6px;
    }

    .time-frame-selector label, .time-frame-selector input {
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .time-frame-selector label {
        margin-bottom: 5px;
    }

    .time-frame-selector input {
        margin-bottom: 15px;
    }

    .deleteAll-button {
        padding: 10px 20px;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    

    
} 

/* Spinner styles */
.spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

